
*.cache
*.txt
*.lref
gestureModality/.vs/gestureModality/v14/.suo
gestureModality/gestureModality/obj
gestureModality/gestureModality/bin
gestureModality/gestureModality/gestureModality.csproj
*.csproj
